.text{
    display: flex;
    font-size: 20px;
    font-style: italic;
    padding-top: 4rem;
    top: 4rem;
    font-weight: bold;
    justify-items: center;
    align-items: center;
    background-color: navy;
}