.nav-container {
  display: flex;
  align-content: center;
  justify-content: center;
  font-style: normal;
  font-size: 50px;
  background-color:brown;
  font-weight: 600;
}
.rotess ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;

}
.rotess li {
  list-style: none;
  font: optional;

}
